{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="contact-section bg-black" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="static/theme/assets/img/bg-masthead.jpg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="text-white">My Projects</h4>
                            <p class="text-white-50 mb-0">This is a current list <br> of all my projects. <br>All of this can also be found on my </p>
                             <a href="https://github.com/ConorHowell/" target="_blank">GitHub</a>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/theme/assets/img/demo-image-01.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Automated Calendar</h4>
                                    <p class="mb-0 text-white-50">A calendar running off of Python and Google's Calendar API. <br>
                                    It can be found here: <a href="https://github.com/ConorHowell/AutomatedCalendar" target="_blank">Automated Calendar</a></div></p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/theme/assets/img/demo-image-02.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Discord Bot</h4>
                                    <p class="mb-0 text-white-50">A Discord Bot that can take in a range of preset commands to do certain tasks.<br>
                                    It can be found here: <a href="https://github.com/ConorHowell/code_box" target="_blank">Code Box</a></div></p></p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                                    <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/theme/assets/img/bg-signup.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Smaller Projects</h4>
                                    <p class="mb-0 text-white-50">These are a couple of my smaller projects gathered into one place. <br>
                                    It can be found here: <a href="https://github.com/ConorHowell/Small-Projects" target="_blank">Small-Projects</a></div></p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}