{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="contact-section bg-black" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">

                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">

                        </div>
                    </div>
                </div>
            <img class="img-fluid" src="static/theme/assets/img/Resume-Conor-Howell_Page_1.jpg" alt="..." />
            <img class="img-fluid" src="static/theme/assets/img/Resume-Conor-Howell_Page_2.jpg" alt="..." />
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">

                            </div>
                        </div>

        </section>

{% endblock %}